.dashboard-flexbox-container-outer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dashboard-flexbox-container-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashboard-flexbox-item{
    flex-grow: 1;
}